h1,
h3 {
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
}

h2,
h4 {
  font-family: "Comfortaa", sans-serif;
  font-weight: 600;
}

.textmenu {
  display: inline-block;
  position: relative;
  float: right;
  margin-right: 4.5rem;
  margin-top: 1.7rem;
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
}

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #202020;
  transition: all 0.5s ease-out;
}
.menu-btn.close {
  transform: rotate(180deg);
}
.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}
.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;
}
.menu.show {
  visibility: visible;
}
.menu-branding,
.menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}
.menu-nav {
  margin: 0;
  padding: 0;
  background: #373737;
  list-style: none;
  transform: translate3d(0, -100%, 0);
  transition: all 0.5s ease-out;
}
.menu-nav.show {
  transform: translate3d(0, 0, 0);
}
.menu-branding {
  background: #444;
  transform: translate3d(0, 100%, 0);
  transition: all 0.5s ease-out;
}
.menu-branding.show {
  transform: translate3d(0, 0, 0);
}

.menu .nav-item {
  transform: translate3d(600px, 0, 0);
  transition: all 0.5s ease-out;
}
.menu .nav-item.show {
  transform: translate3d(0, 0, 0);
}
.menu .nav-item.current > a {
  color: #00c061;
}
.menu .nav-link {
  display: inline-block;
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  transition: all 0.5s ease-out;
}
.menu .nav-link:hover {
  color: #00c061;
  transform: scale(1.25);
}

.nav-item:nth-child(1) {
  transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  transition-delay: 0.4s;
}

* {
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #202020;
  height: 100%;
  margin: 0;
  font-family: "Montserrat", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}
body#bg-img {
  background: url(../img/background.jpg);
  background-attachment: fixed;
  background-size: cover;
}
body#bg-img:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* background: rgba(68, 68, 68, 0.9); */
  background: rgba(255, 255, 255, 0.7);
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}
h1.lg-heading,
h2.lg-heading,
h3.lg-heading {
  font-size: 6rem;
}
h1.sm-heading,
h2.sm-heading,
h3.sm-heading {
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
  /* background: rgba(73, 73, 73, 0.1); */
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: #0b0085;
}

.smallerh1 {
  font-size: 4rem;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 60px);
}
main .icons {
  margin-top: 1rem;
}
main .icons a {
  padding: 0.4rem;
}
main .icons a:hover {
  color: #0b0085;
  transition: all 0.5s ease-out;
}
main#home {
  overflow: hidden;
}
main#home h1 {
  margin-top: 20vh;
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: "bio bio bio" "job1 job2 job3" "job4 job5 job6";
  grid-template-columns: repeat(3, 1fr);
}
.job .bio-image {
  margin-top: 1rem;
  margin-bottom: -0.5rem;
  align-self: center;
  border-radius: 50%;
  /* border: #0b0085 3px solid; */
}

.jobtwo .bio-image {
  margin-top: 4.5rem;
  margin-bottom: -0.5rem;
  align-self: center;
  border-radius: 50%;
  /* border: #0b0085 3px solid; */
}

#pullup .bio-image {
  margin-top: 2.78rem;
}

.about-info .bio {
  grid-area: bio;
  font-size: 1.5rem;
}
.about-info .job-1 {
  grid-area: job1;
}
.about-info .job-2 {
  grid-area: job2;
}
.about-info .job-3 {
  grid-area: job3;
}
.about-info .job-4 {
  grid-area: job4;
}
.about-info .job-5 {
  grid-area: job5;
}
.about-info .job-6 {
  grid-area: job6;
}
.about-info .job {
  text-align: center;
  background: rgba(81, 81, 81, 0.1);
  padding: 1rem;
  border-bottom: #0b0085 5px solid;
}

.about-info .jobtwo {
  text-align: center;
  background: rgba(81, 81, 81, 0.1);
  padding: 1rem;
  border-bottom: #0b0085 5px solid;
}

.about-info .but {
  margin: 7rem;
}

.about-info .but a {
  /* font-size: 1rem; */
  color: #fff;
  background: #0b0085;
  border: none;
  outline: none;
  border-radius: 1.5rem;
  padding: 1rem 1rem;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
}

.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);
}
.projects img {
  width: 100%;
  border: 3px #fff solid;
}
.projects img:hover {
  opacity: 0.5;
  border-color: #0b0085;
  transition: all 0.5s ease-out;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
}
.boxes div {
  font-size: 2rem;
  border: 3px #fff solid;
  padding: 1.5rem 2.5rem;
  margin-bottom: 3rem;
  transition: all 0.5s ease-out;
}
.boxes div:hover {
  padding: 0.5rem 1.5rem;
  background: #0b0085;
  color: #000;
}
.boxes div:hover span {
  color: #000;
}

.btn,
.btn-dark,
.btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
}
.btn:hover,
.btn-dark:hover,
.btn-light:hover {
  background: #0b0085;
  color: #000;
}

.btn-dark {
  background: black;
  color: #fff;
}

.btn-light {
  background: #c4c4c4;
  color: #333;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #2b2b2b;
  color: #fff;
  height: 80px;
}

.hiding {
  pointer-events: none;
  cursor: default;
  color: #2b2b2b;
}

.fermer {
  display: none;
}

@media screen and (min-width: 1171px) {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }

  .mobpic {
    display: none;
  }

  .about-info .but {
    margin: 4rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }

  .mobpic {
    display: none;
  }

  .about-info .but {
    margin: 0rem;
  }
}

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center;
  }
  main .lg-heading {
    line-height: 1;
    margin-bottom: 1rem;
  }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  }
  ul.menu-nav.show,
  div.menu-branding.show {
    transform: translate3d(0, 0, 0);
  }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);
  }
  /* .menu-branding .portrait {
    background: url("../img/portrait_small.jpg");
    width: 150px;
    height: 150px;
  } */
  .about-info {
    grid-template-areas: "bioimage" "bio" "job1" "job2" "job3" "job4" "job5" "job6";
    grid-template-columns: 1fr;
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }

  .lgpic {
    display: none;
  }
  .pull {
    padding-bottom: 10rem;
  }
}

@media screen and (max-width: 500px) {
  main {
    padding: 2rem;
  }
  main #home h1 {
    margin-top: 10vh;
  }
  main .lg-heading {
    margin-top: 1rem;
    font-size: 5rem;
  }
  .projects {
    grid-template-columns: 1fr;
  }
  .lgpic {
    display: none;
  }
  .mobpic {
    padding-top: 4rem;
  }

  #contact .contactanos {
    font-size: 3rem;
  }

  #about .servicios {
    font-size: 3rem;
    padding-top: 2rem;
  }

  #mob {
    font-size: 1.3rem;
    margin-top: -1rem;
  }

  .but a {
    display: none;
  }

  .pull {
    padding-bottom: 10rem;
  }

  .hiding {
    pointer-events: all;
    cursor: default;
  }

  #modalWindow,
  #modalWindow1,
  #modalWindow2,
  #modalWindow3,
  #modalWindow4 {
    position: fixed;
    font-family: arial, helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    /* background: #fff; */
    z-index: 99999;
    opacity: 0;
    transition: opacity 400ms linear;
    pointer-events: none;
  }
  #modalWindow:target {
    opacity: 1;
    pointer-events: auto;
  }
  #modalWindow1:target {
    opacity: 1;
    pointer-events: auto;
  }
  #modalWindow2:target {
    opacity: 1;
    pointer-events: auto;
  }
  #modalWindow3:target {
    opacity: 1;
    pointer-events: auto;
  }
  #modalWindow4:target {
    opacity: 1;
    pointer-events: auto;
  }

  #modalWindow > div {
    width: 340px;
    height: 460px;
    position: relative;
    margin: 10% auto;
    padding: 20px 20px 13px 20px;
    border: solid;
    border-color: #00c061;
    border-width: 2px;
    background: #fff;
    border-radius: 10px;
    font-size: 0.9rem;
    /* width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: #fff; */
  }

  #modalWindow1 > div {
    width: 340px;
    height: 510px;
    position: relative;
    margin: 10% auto;
    padding: 20px 20px 13px 20px;
    border: solid;
    border-color: #00c061;
    border-width: 2px;
    background: #fff;
    border-radius: 10px;
  }

  #modalWindow2 > div {
    width: 340px;
    height: 560px;
    position: relative;
    margin: 10% auto;
    padding: 20px 20px 13px 20px;
    border: solid;
    border-color: #00c061;
    border-width: 2px;
    background: #fff;
    border-radius: 10px;
    font-size: 0.9rem;
  }

  #modalWindow3 > div {
    width: 300px;
    height: 410px;
    position: relative;
    margin: 10% auto;
    padding: 20px 20px 13px 20px;
    border: solid;
    border-color: #00c061;
    border-width: 2px;
    background: #fff;
    border-radius: 10px;
  }

  #modalWindow4 > div {
    width: 340px;
    height: 385px;
    position: relative;
    margin: 10% auto;
    padding: 20px 20px 13px 20px;
    border: solid;
    border-color: #00c061;
    border-width: 2px;
    background: #fff;
    border-radius: 10px;
  }

  .fermer {
    /* color: black; */
    display: block;
    color: #fff;
    background: #0b0085;
    border: none;
    outline: none;
    border-radius: 1.5rem;
    padding: 1rem 1rem;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
  }

  .job #modalWindow h4 {
    font-family: "Comfortaa", sans-serif;
    font-weight: 600;
  }
}

/* ------------------ contact --------------------  */

.contact-form {
  width: 50%;
  margin: 0 auto;
  padding: 40px;
}
.contact-form .input-block {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 60px;
  border-bottom: 2px solid #0b0085;
  margin: 0;
  position: relative;
  margin-bottom: 20px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* .contact-form .input-block.focus {
} */
.contact-form .input-block.textarea {
  height: auto;
}
.contact-form .input-block.textarea .form-control {
  height: auto;
  resize: none;
}
.contact-form .input-block label {
  position: absolute;
  left: 10px;
  top: 25px;
  display: block;
  margin: 0;
  font-weight: 400;
  z-index: 1;
  /* color: #aaa; */
  font-size: 18px;
  line-height: 20px;
}
.contact-form .input-block .form-control {
  background-color: transparent;
  margin: 0;
  outline: none;
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: auto;
  padding: 30px 10px;
  width: 100%;
  position: relative;
  /* z-index: 2; */
  font-size: 18px;
  color: #333;
}
/* .contact-form .input-block .form-control:focus label {
  top: 0;
} */
.contact-form .square-button {
  background-color: #0b0085;
  color: #fff;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 0 60px;
  height: 60px;
  cursor: pointer;
  outline: none;
  border: none;
  width: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

@media (min-width: 768px) {
  .contact-wrap {
    margin: auto;
  }
}
@media (max-width: 868px) {
  .contact-form {
    width: 100%;
    padding: 40px;
  }
}
@media (max-width: 568px) {
  .contact-form {
    padding: 10px;
  }
}
/*----page styles---*/

.contact-wrap {
  padding: 15px;
  /* background: #ecf0f1; */
}
